<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :first_date_read %><br />
    <%= f.date_select :first_date_read %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </div>
  <div class ="field">
    <!--  <%=f.label :authors %><br />
    <%= f.collection_select(:id, Author.all, :id, :full_name, :prompt => true) %><br /> -->
    <% for author in Author.find(:all) %>
      <%= check_box_tag "work[author_ids][]", author.id, @work.authors.include?(author) %>
      <%= author.full_name %>
    <% end %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
