<h1>Listing works</h1>

<table>
<% @works.each do |work| %>
  <tr class="work_header">
    <td><%= work.title %>: <%=work.authors %> </td>
  </tr>
  <tr class ="work_body">
    <td><%= work.score %> / 10</td>
    <td><%= link_to 'Show', work %></td>
    <td><%= link_to 'Edit', edit_work_path(work) %></td>
    <td><%= link_to 'Destroy', work, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work', new_work_path %>
