<%= stylesheet_link_tag "books" %>  

<%= link_to 'Add a book', new_book_path %>

<ul class='unstyled'>
<% @books.each do |book| %>
    <li>      
    <article>
        <header>
            <strong>
                <%= book.author %>,
            </strong>     
            <%= book.title %>
            

        </header>
        <div>
            <%= book.description %>
            <%= book.rating %>
            <%= image_tag(book.image_url, :size => '20%') %>
            <%= link_to(book.amazon_url, :text => 'Buy this book on Amazon.com') %>     
        </div>
    </article>
    </li>
<% end %>
</ul>
<br />


